<%= form_for @video, :html => { :multipart => true }, :xml => { :multipart => true } do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
    	<%= f.text_field :name %>
    </div>
  </div>
  <div class="clearfix">
  	<%= f.label( :uploaded_video, "Video Attachment" ) %>
  	<div class="input">
	  	<%= f.file_field :uploaded_video %>
  	</div>
  </div>
  <div class="actions">
    <%= f.submit "Upload video", :class => "btn primary" %>
  </div>
</fieldset>
<% end %>
