<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @video.name %>
  <%= video_tag @video.uploaded_video.url %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
